<!-- About -->
<section id="about" class="about">
  <h1>Apa Yang Kami Lakukan</h1>
  <!-- prettier-ignore -->
  <p>
    AfterCode.js adalah proyek yang kami buat demi mengatasi keresahan masyarakat dalam melakukan transaksi jual beli entah itu tempat yang sulit dijangkau atau biaya perjalanan yang cukup besar dan bahkan ketika sampai barang tidak tersedia. Dengan AfterCode.js anda tidak perlu lagi bersusah payah untuk membeli laptop yang anda butuhkan. Cukup buka website AfterCodejs.com anda dapat melakukan jual beli perangkat laptop yang kami sediakan.
    <br>
    <br>
    Kepuasan pelanggan adalah kepuasan kami juga. Semakin puas seorang pelanggan maka kami juga akan berusaha semampu kami untuk memberikan pelayanan yang terbaik.
    <!-- AfterCode.js adalah proyek yang kami buat demi mengatasi<br>keresahan masyarakat dalam melakukan transaksi jual beli entah<br>itu tempat yang sulit dijangkau atau biaya perjalanan yang<br>cukup besar dan bahkan ketika sampai barang tidak<br>tersedia. Dengan AfterCode.js anda tidak perlu lagi bersusah<br>payah untuk membeli laptop yang anda butuhkan. Cukup buka<br>website AfterCodejs.com anda dapat melakukan jual beli perangkat<br>laptop yang kami sediakan.
    <br>
    <br>
    Kepuasan pelanggan adalah kepuasan kami juga. Semakin puas<br>seorang pelanggan maka kami juga akan berusaha semampu kami untuk<br>memberikan pelayanan yang terbaik. -->
  </p>
</section>
<!-- End of About -->
