<!-- Not Found | 404 -->
<section id="not-found" class="not-found">
  <h1>404 | Not Found</h1>
  <a href="<%= mainRoutes.home %>">Kembali ke Halaman Utama</a>
</section>
<!-- End of Not Found | 404 -->
